language: python
python:
  - "3.3"
  - "2.7"
install:
  - pip install -r requirements/default.txt
  - pip install -r requirements/development.txt
script: nosetests behave
env:
  global:
    secure: Fb8fYcMw956gAGlzIri//sC8feudrxp4bmAbjBMw3u3H2M9VyFSS4qzetkFioEURShFHNK2RFaVw44xwaohSaVvXNkx2vXu++BC0mzuVVoVqEcisW76wfyXXnCb5jtNEQajRRebnorAzsTY6IV9L694UYr8FmMedQ/+7bFaDEiI=
